/* -------------------------------------------- */
/* layout */
.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  max-width: 100%;
  height: 300px;
  background-color: #424242;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.footer {
  height: 90px;
  background: #ffd366;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------- */
/* header */
.header-img {
  min-width: 35%;
  margin-right: 97px;
  text-align: right;
}

.header-form {
  margin-right: 53px;
  color: #ffd366;
}

.header-result {
  width: 35%;
}

.result {
  display: none;
}

.form-label {
  display: block;
  margin-bottom: 7px;
}

.form-control {
  max-width: 250px;
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #ffd366;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-indent: 1rem;
}

.form-control:focus {
  outline: none;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.result-btn {
  min-width: 120px;
  min-height: 120px;
  background-color: #ffd366;
  border-radius: 50%;

  box-shadow: none;
  border: none;

  cursor: pointer;
}

.result-btn:hover {
  background: #ffd366;
  box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

.result-btn:active {
  background: #dea821;
}

.resultBtn:focus {
  outline: none;
}

.bmi-result {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bmi-cycle {
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}

.bmi-cycle span {
  margin-top: 7px;
}

.bmi-cycle small {
  margin-top: 4px;
  font-size: 14px;
}

.bmi-reset {
  position: absolute;
  right: -2px;
  bottom: 0;

  width: 33px;
  height: 33px;
  border: 3px solid #424242;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bmi-reset:hover {
  -webkit-transform: rotate(180deg);
  transition: all 0.3s;
}

.bmiNumber {
  display: block;
  margin-left: 18px;
}

/* -------------------------------------------- */
/* content */
.bmi-record {
  padding-top: 48px;
  padding-bottom: 58px;
  background-color: #f5f5f5;
  text-align: center;
}

.bmi-list {
  width: 100%;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bmi-item {
  width: 624px;
  height: 62px;
  background: #ffffff;
  margin-bottom: 16px;

  display: flex;
  align-items: center;
}
.bmi-color {
  display: inline-block;
  width: 7px;
  height: 62px;
  box-shadow: 2px 0 3px 0 rgba(134, 215, 63, 0.29);
}

.bmi-status {
  width: 15%;
  text-align: left;
  padding-left: 12px;
}

.bmi-space {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 分配剩餘空間 */
  flex-grow: 1;
}

.bmi-space small {
  margin-right: 7px;
}

.bmi-date {
  width: 15%;
}

.clear-record-btn {
  text-decoration: none;
  color: #FF6C03;
}

/* -------------------------------------------- */
/* utilities */
.text-hide {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0px;
}

.font-size-12 {
  font-size: 12px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-32 {
  font-size: 32px;
}

.font-primary-color {
  color: #4a4a4a;
}

.font-secondary-color {
  color: #424242;
}

.text-weight-bold {
  font-weight: bold;
}

/* 清除 number 的 arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
